<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About Us</title>
        <link rel="stylesheet" href="styles.css">
    </head>

    <body>
        <h2>Why Choose ParKing?</h2>
            <p>ParKing helps you quickly locate parking spaces in your area. Whether you're at work, shopping, or at a concert, finding a spot has never been easier!</p>
            <p>Our system provides real-time updates on available spaces, ensuring you never waste time circling the block again.</p>
            <img src="parkingRate.jpg" alt="Parking Rates" width="500">

            <footer>
                <p>&copy; 2025 ParKing. All rights reserved.</p>
            </footer>
    </body>
</html>
